[include]
	path = ~/.gitconfig.local

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --graph --abbrev-commit --decorate --date=relative
	wip = commit -m "wip"

[color]
	branch = auto
	diff = auto
	status = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[merge]
	ff = false
	conflictstyle = zdiff3

[diff]
	algorithm = histogram
	colorMoved = zebra

[log]
	date = iso

[pull]
	rebase = true

[fetch]
	prune = true
	pruneTags = true
	writeCommitGraph = true

[commit]
	gpgsign = true
	verbose = true

[tag]
	gpgSign = true

[gpg]
	format = ssh

[user]
	name = Daniil Rutskii
	email = dstdfx@gmail.com
	useConfigOnly = true

[init]
	defaultBranch = main
